#data
RSUA Chest X-Ray Dataset.zip
RSUA Chest X-Ray Dataset/

# python
__pycache__/

# DUCK-Net
Duck-Net/ModelSaveTensorFlow/*
Duck-Net/ProgressFull/*

# notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*